modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "EduQuest Development"

[[workflows.workflow]]
name = "EduQuest Development"
author = 47110804
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
